.footer {
  border-top: 3px solid $color-orange;
  background-color: $color-purple;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 200px;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  .footer__right {
    ul {
      list-style: none;
      li {
        a {
          color: $color-white;
          &:hover {
            text-decoration: none;
            color: $color-orange;
          }
        }
      }
    }
  }
  .footer__brand {
    h4 {
      color: $color-white;
      & > span {
        color: $color-orange;
      }
    }
    p {
      color: $color-white;
    }
  }
}
